<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
        <rewrite>
            <rules>
                <rule name="httpPsenior" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://pssenior.edu.in" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
