/*==============new form css===========*/
.enquiry_submit.pull-left{background-color: #505050 !important;}
.enquiry_submit {background-color: #e31f27 !important;border:none !important;width: auto !important;float:right;margin-right:15px;margin-top:30px;padding:8px 12px;}
.physical_detail{overflow:hidden;}
.enquiry_content .physical_detail label{background:none;padding:0px;}
.enquiry_content .gen_radio_button label,.sibling_radio_button label{margin:0px 20px;background:none;}
.enquiry_content .gen_radio_button input{margin:2px 0px 0px -20px;}
/*input[type=radio]{visibility: hidden;position: absolute;}*/
input[type=radio] + label:before{height:12px;width:12px;margin-right: 5px;margin-top:-2px;content: " ";display:inline-block;vertical-align: middle;border:1px solid #777;}
input[type=radio]:checked + label:after{border:solid 2px #000;}
input[type=radio]:checked + label:before{background:#e31f27;box-shadow:0 0px 0px 2px #fff inset;}
/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{border-radius:50%;}
/* input[type='radio'] {content:'';display:block;width:60%;height:60%;margin: 20% auto;border-radius:50%;} */
.enquiry_content select::-ms-expand {	display: none !important; }
.enquiry_content select{-webkit-appearance: none !important;appearance: none !important;}
.form_tab{padding:40px !important;background:#f3f3f3;min-height:520px;}
.form_tab li{list-style:none;color:#b0b0b0;position:relative;padding:10px 0px 10px 30px;line-height:24px;}
.form_tab li.current{color:#e31f27;font-size:18px;font-weight: 700;font-family: "Conv_Gotham-Book";}
.form_tab li span{position:absolute;left:0px;width:20px;height:auto;top:50%;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.form_tab li span img{max-width:100%; width:auto !important;}
.form_tab li:before{position: inherit !important; content:"" !important;}
.enquiry_content h4{text-transform:uppercase;color:#505050;font-size:14px; font-family: "Conv_Gotham-Book";margin:0px;padding:40px 0px 15px 0px ;}
.fileupload {width:auto;height: 33px;padding:8px 10px;position: relative;text-align: center; color: #fff;background:#a5a5a5;display: table;}
.fileupload p{color: #fff; font-size: 12px;padding:0px !important;line-height:18px !important;margin:0px;}
.full_width{width:100% !important;}
.Professional_detail .education_section{width:100%;}
.fileupload input{position: absolute;top: 0;right: 0;cursor: pointer;opacity: 0.0;filter: alpha(opacity=0); height: 38px; width: 200px;}
.enquiry_content p.img_type{padding:0px; margin:0px 0px 10px 0px;text-align:left;font-weight:300;font-size:11px;font-style:italic;text-decoration: underline;color:#a5a5a5}
.enquiry_content p.img_loded{padding:0px 24% 0px 0px; margin:0px 0px 10px 0px;position:relative;line-height:15px;text-align:left;weight:300;font-size:11px;width:auto;display:table;}
.load_status{position:absolute;width:15px;right:0px;top:50%;line-height:15px;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.sign{position:relative;display:inline-block;padding:0px 24% 0px 0px;vertical-align:middle;}
.img_status{display:inline-block;vertical-align: middle;padding-left:20px;}
.document_detail{overflow:hidden;border-bottom:solid 1px rgba(227,31,39,0.2);padding:30px 30px 30px 0px;position:relative;}
.document_detail label{background:none !important;}
.my_tooltip img{max-width:100%; width:auto !important;}
.my_tooltip{position: absolute;right:0px;top:8px;width:15px;}
.sudent_img{max-width:300px;height:auto;}
.sudent_img img{width:auto !important;}
.payment_form h6{padding: 9px 0 9px 12px;font-size:11px;margin:0px;font-family: "Conv_Gotham-Book";font-weight: bold;color: #6d6d6d;}
.enquiry_content .payment_form .physical_detail label,.payment_form .document_detail label{background-color: #f0f0f0 !important;
    font-family: "Conv_Gotham-Book";
    font-size: 11px;
    line-height: 16px;
    padding: 9px 0 9px 12px;
    text-transform: uppercase;width:100%;}
.payment_form .physical_detail{margin:0px 0px 0px -15px;}
.detail01{border-bottom:solid 2px #e31f27;padding-bottom:30px;}
.payment_form .document_detail{border-bottom:none;padding:0px;}
.specify_board,.siblings_info{display:none;}
.doc_items{background:#f3f3f3;padding:15px;min-height:690px;}
.document_detail label{padding:9px 0px !important;margin-bottom:0px;}
.doc_items .form-group{border-bottom:solid 2px #fff;padding:0px 0px 20px 0px;min-height:160px;}
.doc_items .form-group:last-child{border-bottom:none;}
.document_detail h5{padding:0px;text-align:left;margin-bottom:10px;font-weight:700;text-transform: uppercase;}
.doc_items .form-group{position:relative;}
.enquiry_content .learning_radio_button label{background:none;}
.yes-detail{padding-bottom:10px;display:none;}
.enquiry_content input, .enquiry_content .form-control {text-transform: uppercase;}
.enquiry_content input.email-addresss{text-transform:lowercase;}
@import url(http://fonts.googleapis.com/css?family=Droid+Serif); /* to import google font style */ 
.content{
	width:960px;
	margin:20px auto;
	
	}
	
.main{
	float:left;
	width: 100%;
	margin-top:80px;
	
	}
#progressbar{
	margin:0;
	padding:0;
	font-size:18px;
	}	
.active{
		color:#e31f27;font-size:18px;font-weight: 700;font-family: "Conv_Gotham-Book";
	}

	
fieldset{
	display:none;
	/*padding:20px;
	margin-top:50px;
	margin-left: 85px;
	border-radius:0px;
	box-shadow: 3px 3px 25px 1px gray;*/
	}

#first{
    display:block;

	/*padding:20px;
	margin-top:50px;
	border-radius:0px;
	margin-left: 85px;
	box-shadow: 3px 3px 25px 1px gray;*/
	}
	
/*input[type=text],
input[type=password],
select{
	width:100%;
	margin:10px 0;
	height:40px;
	padding:5px;
	border: 1px solid rgb(236, 176, 220);
	border-radius: 1px;
	}
	
textarea{
	width:100%;
	margin:10px 0;
	height:70px;
	padding:5px;
	/*border: 3px solid rgb(236, 176, 220);
	border-radius: 4px;
	}*/

input[type=submit],
input[type=button]{
	background-color: #e31f27 !important;
	border: none !important;
	width: auto !important;
	float: right;
	margin-right: 15px;
	margin-top: 30px;
	padding: 8px 12px;
	font-family: 'Conv_Gotham-Book';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;

	}
	
h2,p{
	text-align:center;
	font-family: 'Droid Serif', serif;
	}
	
li{
	/*margin-right:52px;
	display:inline;*/
	color:#c1c5cc;
	font-family: 'Droid Serif', serif;
	
	}
	
/*---------------------------------------------
	CSS For right side advertisement
-----------------------------------------------*/	
.formget{
	float:right;
	margin-top:30px;
	}	

.form-control[readonly] { background: none; }




/********DEV*********/
.footer_content ul li{}
.about_container h3{
	display: block;
}
#third .document_detail label {
    padding-right: 17px !important;
}
.doc_items {
    min-height: 0;
    padding-bottom: 0;
}
.my_tooltip{
	cursor: pointer;
}
.about_slider_bg span{
	color: red;
}
.enquiry_content p.img_loded{
	padding-right:  20px;
}

div.globalErrMsg span.err{
	top: 0 !important;
	padding: 0;
	margin: 10px 0 -10px;
	float: left;
}
@media(max-width: 1024px) and (min-width: 769px){
	.admission_content .col-md-12{
		padding: 0 15px 30px;
	}
	.form_tab{
	    padding: 20px !important;
	}
	.form_tab li{
		padding-left: 0;
	}
	.admission_content .regform > .col-sm-8,
	.admission_content .regform > .col-sm-8 .col-sm-12 {
		padding: 0;
	}
	.enquiry_content h4{
		padding-top: 15px;
	}
}
@media(max-width: 991px) and (min-width: 768px){
	.enquiry_content .gen_radio_button label{
		margin-right:  0;
	}
}
@media(max-width: 991px){
	fieldset#third .document_detail .col-sm-4 {
	    width: 100%;
	}	
	.document_detail label br {
	    display: none;
	}

	.doc_items .form-group {
	    min-height: 0;
	}
	.doc_items {
	    min-height: 0;
	}
}
@media(max-width:768px){
.admission_content .col-md-12{padding: 15px;}
.form_tab{padding:20px !important;}
.form_tab li{padding:10px 0 10px 15px;}	
.form_tab li.current{font-size:13px; line-height:18px;}

input[type="radio"] + label, 
.enquiry_content .gen_radio_button label {
    width: auto;
    margin: 0;
}
div.globalErrMsg span.err{
	margin-bottom: 10px;
	padding-left:  5px;
}
#first, #second{margin-left: -20px; margin-right: -20px;}
.enquiry_content b, strong{margin-top:0;}
.globalErrMsg span.err{margin: 10px 0;}
input[type=button]{
	margin-bottom:  10px;
}
.enquiry_content h4{padding:10px 0 15px !important;}	
 .facilities_container .about_container h2{text-align:left;}
}

@media(max-width: 767px){
	fieldset#third .col-sm-12 {
		padding:  0;
	}
	.document_detail{
		padding-right: 0;
	}
}
@media(max-width: 480px){
	input[type=button] {
	    margin-left: 5px !important;
	    padding: 5px 10px;
	    margin-right: 5px !important;
	}
	fieldset#third {
	    padding-bottom: 30px;
	}
	input[type=button] + input[type=button] {
	    margin-right: 5px !important;
	}
}
@media(max-width:400px){
 .form_tab{ min-height:auto !important;}	
 .physical_detail .col-sm-4{ padding-left:0px; padding-right:0px;} 
}
span.err{
	padding: 0 12px;
}

#regform input[type="radio"] {
    visibility: hidden;
    opacity: 0;
}